<form name="userForm" novalidate>
  <nav class="box navbar">
    <div class="box s-s-s navbar-size">
  
      <button class="button button-circle button-small pre-title button-caution h">
          <i class="icons">menu</i>
      </button>
  
      <h2 class="title">Event</h2>
      <p></p>
    </div>
  </nav>  
  
  <div class="box s-s-s stripe">
    <div class="box -sss- card-qr">
      <img src="/img/qr.png" alt="qr"> 
    </div>            
    <span class="price h3">
        Price:<input name="price"  type="text" size="3" ng-model="item.price" placeholder={{item.price}} />
    </span>
  </div>
  
  <div class="box -sss-">
    <div class="card">
  
      <div class="box-ml s-s-s linea">
        <span class="h5 price">
          <input name="capacity" size="11" class="label3" type="text" ng-model="item.capacity" placeholder={{item.capacity}} />
        </span>
        <p class="h4 key" >
          <input name="committed" size="11" type="text" ng-model="item.committed" placeholder={{item.committed}} />
        </p>
        <button class="button button-circle button-small button-caution">
          <i class="icons">add</i>
        </button>
      </div>
  
      <div class="box s-s-s">
        <h4 class="h3">            
          <input name="name" size="19" type="text" ng-model="item.name" placeholder={{item.first_name}} />:
        </h4>
      </div>  
        
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">access_time</i>
        </dt>
        <dd class="value">
          <div class="box-ml">
            <div class="input-group" moment-picker="ctrl.start.hour" show-header="false" format="hh:mm a">
              Start: 
              <input class="form-control" size="7" ng-checked="available(ctrl.start,0)" 
              placeholder={{ctrl.start.hour===undefined?item.start.hour:ctrl.start.hour}}  
              ng-model-options="{ updateOn: 'blur' }"/>
            </div>
            <div class="input-group" moment-picker="ctrl.end.hour" show-header="false" format="hh:mm a">
              Ends: 
              <input class="form-control" size="7" ng-checked="available(ctrl.ends,1)"
              placeholder={{ctrl.end.hour===undefined?item.end.hour:ctrl.end.hour}}
              ng-model-options="{ updateOn: 'blur' }"/>
            </div>  
          </div>
        </dd>
      </dl>
      
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">perm_contact_calendar</i>
        </dt>
        <dd class="value" >
          <div class="box-ml">
              <div class="input-group" moment-picker="ctrl.start.date"  format="MM-DD-YYYY"  
              ng-model-options="{ updateOn: 'blur' }"  ng-checked="available(ctrl.day,2)" >
              <div ng-bind-template="{{set(ctrl.start.date)}}"></div>  
              Start: 
              <input class="form-control" size="7" placeholder={{ctrl.start.date===undefined?item.start.date:ctrl.start.date}} />
            </div> 
            <div class="input-group" moment-picker="ctrl.end.date"  format="MM-DD-YYYY"  
              ng-model-options="{ updateOn: 'blur' }"  ng-checked="available(ctrl.day,2)" >
              <div ng-bind-template="{{set(ctrl.end.date)}}"></div>  
              Ends: 
              <input class="form-control" size="7" placeholder={{ctrl.end.date===undefined?item.end.date:ctrl.end.date}} />
            </div> 
          </div>
        </dd>
      </dl>

      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">place</i>
        </dt>
        <dd class="value" >
          <input name="place" size="11" type="text" ng-model="item.place" placeholder={{item.place}}/>
        </dd>
      </dl>

      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">import_contacts</i>
        </dt>
        <dd class="value" >Add to Google Calender</dd>
      </dl>
      
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">add_circle</i>
        </dt>
        <dd class="value" >Add to iCal</dd>
      </dl>
      
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">share</i>
        </dt>
        <dd class="value" >Share on wechat</dd>
      </dl>        
      
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">notifications</i>
        </dt>
        <dd class="value" >Get notified an hour before</dd>
      </dl>
         
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">map</i>
        </dt>
        <dd class="value" >See location in map</dd>
      </dl>
      
      <dl class="box hhh-- form">
        <dt class="key">
          <i class="icons">contact_phone</i>
        </dt>
        <dd class="value" >Contact orgnizer</dd>
      </dl>
  
    </div>
  </div>
</form> 
