<nav class="box navbar">
  <div class="box s-s-s navbar-size">

    <button class="button button-circle button-small pre-title button-caution h">
        <i class="icons">menu</i>
    </button>

    <h2 class="title">Event</h2>
    <p></p>
  </div>
</nav>  

<div class="box s-s-s stripe">
  <div class="box -sss- card-qr">
    <img src={{item.time.src}} alt="qr"> 
  </div>            
  <span class="price h3">
    Price: {{item.device.price}}
  </span>
</div>

<div class="box -sss-">
  <div class="card">

    <div class="box s-s-s linea">
      <span class="h5 price">
        {{item.device.capacity}}
      </span>
      <p class="h4 key" >
        {{item.device.committed}}
      </p>
      <button class="button button-circle button-small button-caution">
        <i class="icons">add</i>
      </button>
    </div>

    <div class="box s-s-s">
      <h4 class="h3">{{item.essential.first_name}}:</h4>
    </div>  
      
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">access_time</i>
      </dt>
      <dd class="value" >{{item.essential.day_start + ' ' + item.essential.hour_start + ' to ' + item.essential.hour_end}}</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">perm_contact_calendar</i>
      </dt>
      <dd class="value" >{{item.start.date}}</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">import_contacts</i>
      </dt>
      <dd class="value" >Add to Google Calender</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">add_circle</i>
      </dt>
      <dd class="value" >Add to iCal</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">share</i>
      </dt>
      <dd class="value" >Share on wechat</dd>
    </dl>        
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">notifications</i>
      </dt>
      <dd class="value" >Get notified an hour before</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">place</i>
      </dt>
      <dd class="value" >{{item.place}}</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">map</i>
      </dt>
      <dd class="value" >See location in map</dd>
    </dl>
    
    <dl class="box hhh-- form">
      <dt class="key">
        <i class="icons">contact_phone</i>
      </dt>
      <dd class="value" >Contact orgnizer</dd>
    </dl>

  </div>
</div>
  