<div ui-view></div>
<footer class="footer">            
    <ul class="box s-s-s">
        <li class="" ui-sref="plans({id:0})">      
            <button class="button button-box button-small">
            <i class="icons">list</i>
            </button>
        </li>
        <li class="x" ui-sref="map({id:0})">
            <button class="button button-box button-small">      
            <i class="icons">map</i>
            </button>
        </li>
        <li class="x" ui-sref="calendar({id:0})">      
            <button class="button button-box button-small">
            <i class="icons">event</i>
            </button>
        </li>
        <li class="x" ui-sref="route({id:0})">      
            <button class="button button-box button-small">
            <i class="icons">place</i>
            </button>
        </li>
        <li class="" ui-sref="create()">      
            <button class="button button-box button-small">
            <i class="icons">add</i>
            </button>
        </li>
    </ul>
</footer>