<nav class="box navbar">
  <div class="box-uk hhh-- navbar-size">
    <div class="title">
      <p>What's good in</p>    
      <h2 class="u">Shenzhen</h2>
    </div>
    <p class="title">Top picks for you</p>
  </div>
</nav>  

<ul class="box-uk j-j-j" ng-repeat="item in items">
  <li class="container-o" ui-sref="detail({id:item.events[0].id})">
    <div class="event">
      <button class="button button-circle button-small pre-title btn-circle-place">
        <i class="icons">add</i>
      </button>
    </div>
    <div class="info">
      <div class="box">
        <div class="box-uk ggg--">
          <p class="highlighted">
            {{item.month_start}}  
          </p>
          <p>
            {{item.day_start}}
          </p> 
        </div>
        <div class="box-uk detail">
          <p class="strong">
            {{item.region + ' [' + item.month_start + ' ' + item.day_start + ' - ' 
            + item.month_start + ' ' + item.day_end + ', ' + item.year_start + ']'}}
          </p>
          <p class="strong">
            {{item.first_name + ' | ' + item.last_name | limitTo : 30}}...
          </p>
          <h6 class="gray">
            {{item.description + ' | ' + item.type}}
          </h6>
          <h6 class="gray">
            {{'on '+ item.on}}
          </h6>
        </div>
      </div>
    </div>
  </li>
</ul>
<!--
<a class="h4" ui-sref="detail({id:item.id})">
  hola
</a>
<a class="h5 label-b" ui-sref="update({iid:item.id})">update</a>
<button class="h5 label-a" ng-click="delete(item)">X</button>
-->
