<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    
    <title ng-bind="ngMeta.title"></title>   
    <meta name="fragment" content="!">
    <meta name="author" content="{{ngMeta.author}}" />
    <meta property="og:type" content="{{ngMeta['og:type']}}" />
    <meta name="description" content="{{ngMeta.description}}" />
    <meta property="og:title" content="{{ngMeta['og:title']}}" />
    <meta property="og:image" content="{{ngMeta['og:image']}}" />
    <meta property="og:locale" content="{{ngMeta['og:locale']}}" />

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <base href="/" />
  </head>
  <body ng-controller="MainController" >   
    <div ui-view></div>
    <footer class="footer">            
        <ul class="box s-s-s">
            <li class="" ui-sref="plans({iii:id})">      
                <button class="button button-box button-small">
                <i class="icons">list</i>
                </button>
            </li>
            <li class="x" ui-sref="map()">
                <button class="button button-box button-small">      
                <i class="icons">map</i>
                </button>
            </li>
            <li class="x" ui-sref="calendar({i:id})">      
                <button class="button button-box button-small">
                <i class="icons">event</i>
                </button>
            </li>
            <li class="x" ui-sref="route({ii:id})">      
                <button class="button button-box button-small">
                <i class="icons">place</i>
                </button>
            </li>
            <li class="" ui-sref="create()">      
                <button class="button button-box button-small">
                <i class="icons">add</i>
                </button>
            </li>
        </ul>
    </footer>

    <!--
    <div class="contenedor">
      <button class="btn-c" ng-click="create()">+</button>
    </div>  

    data-modaal-type="inline" data-modaal-animation="fade" class="modaal" ng-href="#inline">+</button>
    <canvas id="inline" width="500" height="200"></canvas>
-->
    <script src="script/libs/moment.min.js" type="text/javascript"></script>
    <script src="script/libs/jquery.min.js" type="text/javascript"></script>
    <script src="script/libs/angular.min.js" type="text/javascript"></script>
    <script src="script/libs/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="script/libs/ngDialog.min.js" type="text/javascript"></script>
    <script src="script/libs/ngMeta.min.js" type="text/javascript"></script>
    <script src="script/libs/angular-moment-picker.min.js" type="text/javascript"></script>
    <script src="script/libs/angular-cookie.js" type="text/javascript"></script>
    <script src="script/libs/lodash.min.js" type="text/javascript"></script>
    
    <script src="script/app.js" type="text/javascript"></script>
    <script src="script/controllers/MainController.js" type="text/javascript"></script>
    <script src="script/controllers/MasterController.js" type="text/javascript"></script>
    <script src="script/controllers/DetailController.js" type="text/javascript"></script>
    <script src="script/controllers/UpdateController.js" type="text/javascript"></script>
    <script src="script/controllers/CreateController.js" type="text/javascript"></script>
    
    <script src="script/controllers/PlansController.js" type="text/javascript"></script>
    <script src="script/controllers/MapController.js" type="text/javascript"></script>
    <script src="script/controllers/RouteController.js" type="text/javascript"></script>
    <script src="script/controllers/CalendarController.js" type="text/javascript"></script>
    <script src="script/controllers/PlanController.js" type="text/javascript"></script>

    <script src="script/controllers/DeleteController.js" type="text/javascript"></script>
    <script src="script/services/ProviderService.js" type="text/javascript"></script>

<!--
    <link href="style/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="style/materialicons.css" rel="stylesheet" type="text/css"/>
-->
    <link href="style/style.min.css" rel="stylesheet" type="text/css"/>
    <link href="style/angular-moment-picker.min.css" rel="stylesheet" type="text/css"/>
    <link href="style/ngDialog.min.css" rel="stylesheet" type="text/css"/>
    <link href="style/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css"/>
  </body>  
</html>

