@each $jus in map-keys($justify) {
    $temp: _label($jus, 0);
    .#{$temp} {
        @include justify($jus);
        @include items;
        @each $sel in map-keys($self) {
            .#{$sel} {
                @include self($sel);
            }
        }
    }
}
