@each $dis in map-keys($display) {
    @each $wra in map-keys($wrap) {
        .#{$dis}#{$wra} {
            @include display($dis);
            @include flow($wrap: $wra);
            @each $ord in map-keys($order) {
                .#{$ord} {
                    @include order($ord);
                }
            }
            @each $bas in map-keys($basis) {
                .#{$bas} {
                    @include flex($basis: $bas);
                }
                @each $gro in map-keys($grow) {
                    .#{$gro} {
                        @include flex($grow: $gro);
                    }
                    $temp1: str-insert(#{$gro},'-', 1);
                    .#{$bas}#{$temp1} {
                        @include flex($grow: $gro, $basis: $bas);
                    }
                    @each $shr in map-keys($shrink){
                        $temp2: str-insert(#{$shr},'-', 1);
                        .#{$shr} {
                            @include flex($shrink: $shr);
                        }
                        .#{$gro}#{$temp2} {
                            @include flex($grow: $gro, $shrink: $shr);
                        }
                        .#{$bas}#{$temp2} {
                            @include flex($shrink: $shr, $basis: $bas);
                        }
                        .#{$bas}#{$temp1}#{$temp2} {
                            @include flex($grow: $gro, $shrink: $shr, $basis: $bas);
                        }
                    }
                }
            }   
        }
    }
}