@mixin flex(
    $grow: 0, 
    $shrink: 1, 
    $basis: auto
) {
    @if ( $grow == 0 ) {
        @if ( $shrink == 1 ) {
            flex: _basis($basis);
        } @else if ( $basis == auto ) {
            flex:  0 _shrink($shrink);
        }@else{
            flex: 0 _shrink($shrink) _basis($basis);
        }
    } @else if ( $shrink == 1 ) {
        @if ( $basis == auto ) {
            flex: _grow($grow) 1;
        } @else {
            flex: _grow($grow) 1 _basis($basis); 
        }
    } @else if ( $basis == auto ) {
        flex: _grow($grow) _shrink($shrink);
    } @else {
        flex: _grow($grow) _shrink($shrink) _basis($basis); 
    }
}

@function _basis($name) {
    @if map-has-key($basis, $name) {
        @return map-get($basis, $name);
    }
    @warn "The key #{$name} is not in the map ’$basis’";
    @return null;
}

@function _grow($name) {
    @if map-has-key($grow, $name) {
        @return map-get($grow, $name);
    }
    @warn "The key #{$name} is not in the map ’$grow’";
    @return null;
}

@function _shrink($name) {
    @if map-has-key($shrink, $name) {
        @return map-get($shrink, $name);
    }
    @warn "The key #{$name} is not in the map ’$shrink’";
    @return null;
}