@mixin flow(
    $direction: row, 
    $wrap: nowrap 
) {
    @if ( $wrap == nowrap ) {
        flex-flow: _direction($direction);
    } @else if ( $direction == row ) {
        flex-flow: _wrap($wrap);
    } @else {
        flex-flow: _direction($direction) _wrap($wrap);
    }
}

@function _direction($name) {
    @if map-has-key($direction, $name) {
        @return map-get($direction, $name);
    }
    @warn "The key #{$name} is not in the map ’$direction’";
    @return null;
}

@function _wrap($name) {
    @if map-has-key($wrap, $name) {
        @return map-get($wrap, $name);
    }
    @warn "The key #{$name} is not in the map ’$wrap’";
    @return null;
}