@mixin items(
    $name : stretch
) {
    @if ( $name == stretch) {
        align-items: stretch;
    } @else {
        align-items: _items($name);
    }
}

@function _items($name) {
    @if map-has-key($items, $name) {
        @return map-get($items, $name);
    }
    @warn "The key #{$name} is not in the map ’$items’";
    @return null;
}