@mixin justify(
    $name: flex-start
) {
    @if ( $name == flex-start ) {
        justify-content: flex-start;
    } @else {
        justify-content: _justify($name);
    }
}

@function _justify($name) {
    @if map-has-key($justify, $name) {
        @return map-get($justify, $name);
    }
    @warn "The key #{$name} is not in the map ’$justify’";
    @return null;
}