@mixin self(
    $name: auto
) {
    align-self: _self($name);
}

@function _self($name) {
    @if map-has-key($self, $name) {
        @return map-get($self, $name);
    }
    @warn "The key #{$name} is not in the map ’$self’";
    @return null;
}