/// The value for default is no considerate:
/// flex-direction => row
/// flex-wrap => nowrap
/// justify-content => flex-start
/// align-items => stretch
/// align-content => stretch
/// order => 0
/// flex-basis => auto
/// align-self => auto
/// flex-grow => 0
/// flex-shrink  => 1

/// var of grid 
$display: (
    box: flex,
    line: inline-flex
);
$direction:(
    -uk: column,
    -ar: row-reverse, 
    -fr: column-reverse
);
$wrap: (
    -ml: wrap,
    -lm: wrap-reverse
);
$align:(
    x-x-x: space-between,
    -x-x-: space-around,
    --xxx: flex-end,
    -xxx-: center,
    xxx--: flex-start
);
$justify: (
    x-x-x: space-between,
    -x-x-: space-around,
    --xxx: flex-end,
    -xxx-: center
);
$items: (
    s: center,
    _: baseline,
    g: flex-end,
    h: flex-start
);
$order:(
    st: -1,
    -st: 1,
);
$basis:(
    lg: 100% / $golden,
    md: 100% - 100% / $golden
);
$grow: (
    eq: 1,
    big: 2,
    huge: 3
);
$shrink: (
    fx: 0,
    sm: 2,
    xs: 3, 
);
//
$self:(
    s: center,
    _: baseline,
    g: flex-end,
    h: flex-start, 
    j: stretch
);