/// Bitters configurations
$_button-background-color: $action-color;
$_button-background-color-hover: shade($action-color, 20%);

#{$all-buttons} {
  appearance: none;
  background-color: $_button-background-color;
  border: 0;
  border-radius: $base-border-radius;
  color: contrast-switch($_button-background-color);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: small-spacing(lg) $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $_button-background-color-hover;
    color: contrast-switch($_button-background-color-hover);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $_button-background-color;
    }
  }
}

/// Own configurations

/*! @license
*
* Buttons
* Copyright 2012-2014 Alex Wolfe and Rob Levin
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*        http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/


/*
* Compass (optional)
*
* We recommend the use of autoprefixer instead of Compass
* when using buttons. However, buttons does support Compass.
* simply change $ubtn-use-compass to true and uncomment the
* @import 'compass' code below to use Compass.
*/

$ubtn-use-compass: false;
// @import 'compass';


/*
* Required Files
*
* These files include the variables and options
* and base css styles that are required to generate buttons.
*/

@import 'buttons/options';
@import 'buttons/mixins';
@import 'buttons/base';
@import 'buttons/layout';


/*
* Button Types (optional)
*
* All of the files below represent the various button
* types (including shapes & sizes). None of these files
* are required. Simple remove the uneeded type below and
* the button type will be excluded from the final build
*/

@import 'buttons/types/shapes';
@import 'buttons/types/border';
@import 'buttons/types/borderless';
@import 'buttons/types/raised';
@import 'buttons/types/3d';
@import 'buttons/types/glow';
@import 'buttons/types/dropdown';
@import 'buttons/types/groups';
@import 'buttons/types/wrapper';
@import 'buttons/types/longshadow';
@import 'buttons/types/sizes';

$top-bottom: 115px;
$negative: 35px;

.btn-circle-place{
  @include breakpoint(bp(ph)) {
    @include position(relative, $top-bottom null null event-imagen(ph)-$negative);
  }
  @include breakpoint(bp(pt)) {
    @include position(relative, $top-bottom null null event-imagen(pt)-$negative);
  }
  @include breakpoint(bp(ls)) {
    @include position(relative, $top-bottom null null event-imagen(ls)-$negative);
  }
  @include breakpoint(bp(dt)) {
    @include position(relative, $top-bottom null null event-imagen(dt)-$negative);
  }
  @include breakpoint(bp(tv)) {
    @include position(relative, $top-bottom null null event-imagen(tv)-$negative);
  }
}