@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.navbar:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../img/jorge.jpg);
    background-size: cover;
}

/*
.event:before{
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.event:before {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(bp(ph)) {
    background-image: url(../img/ph.jpg);
    }
    @include breakpoint(bp(pt)) {
        background-image: url(../img/pt.jpg);
    }
    @include breakpoint(bp(ls)) {
        background-image: url(../img/ls.jpg);
    }
    @include breakpoint(bp(dt)) {
        background-image: url(../img/dt.jpg);
    }
    @include breakpoint(bp(tv)) {
        background-image: url(../img/tv.jpg);
    }
}