/// Bitters configurations
$_form-background-color: #fff;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($action-color, 0.7);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: small-spacing(md);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: small-spacing(md);
}

input,
select,
textarea {
  display: inline;
  font-family: $base-font-family;
}

#{$all-text-inputs} {
  appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;

  &:hover {
    border-color: $action-color;
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 20%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: small-spacing(md);
}

[type="file"] {
  margin-bottom: small-spacing(lg);
  width: 100%;
}

select {
  margin-bottom: small-spacing(lg);
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

/// Own configurations