/// Bitters configurations
html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/// Own configurations
$nav-height: 127px;
$nav-padding-height: 13px;
$nav-padding-weight: 11px;

$qq: 399px;
$q: 134px;

.navbar {
  background: linear-gradient(to right, #8E1617, #B02A29);
  position: relative;
  z-index: -1;
}

$q: 127px;

$qq: 337px;
$ww: 587px;
$ee: 887px;
$rr: 1189px;
$tt: 1789px;

.event {
  position: relative;
  z-index: 1;
  @include breakpoint(bp(ph)) {
    min-height: $q;
    min-width: event-imagen(ph); 
  }
  @include breakpoint(bp(pt)) {
    min-height: $q;
    min-width: event-imagen(pt); 
  }
  @include breakpoint(bp(ls)) {
    min-height: $q;
    min-width: event-imagen(ls); 
  }
  @include breakpoint(bp(dt)) {
    min-height: $q;
    min-width: event-imagen(dt); 
  }
  @include breakpoint(bp(tv)) {
    min-height: $q;
    min-width: event-imagen(tv); 
  }
}

.navbar-size {
  @include padding($nav-padding-height $nav-padding-weight*2);
  @include breakpoint(bp(ph)) {
    @include size(container(ph), $nav-height);
  }
  @include breakpoint(bp(pt)) {
    @include size(container(pt), $nav-height);
  }
  @include breakpoint(bp(ls)) {
    @include size(container(ls), $nav-height);
  }
  @include breakpoint(bp(dt)) {
    @include size(container(dt), $nav-height);
  }
  @include breakpoint(bp(tv)) {
    @include size(container(tv), $nav-height);
  }
}

.container-o{
  @include margin(-2*$nav-padding-height auto auto auto);
  @include padding($nav-padding-height $nav-padding-weight);
  @include breakpoint(bp(ph)) {
    @include size(container(ph), auto);
  }
  @include breakpoint(bp(pt)) {
    @include size(container(pt), auto);
  }
  @include breakpoint(bp(ls)) {
    @include size(container(ls), auto);
  }
  @include breakpoint(bp(dt)) {
    @include size(container(dt), auto);
  }
  @include breakpoint(bp(tv)) {
    @include size(container(tv), auto);
  }
}

.info{
  @include padding(13px 19px);
}

.info .detail{
  @include padding(0 13px);
}

body{
  display: flex;
  flex-direction: column;
}

.footer ul {
  @include size(100%, 40px);
  @include border-style(1px solid #fff);
  @include position(fixed, null null 0 null);
  border-width: 1px 0;    
  background-color: #FFF;
  z-index: 10; 
}

.footer ul li {
  @include margin(0 17px);
}

.stripe {
  @include breakpoint(bp(ph)) {
    @include margin(-37px 5%);
  }
  @include breakpoint(bp(pt)) {
    @include margin(-38px 7%);
  }
  @include breakpoint(bp(ls)) {
    @include margin(-39px 19%);
  }
  @include breakpoint(bp(dt)) {
    @include margin(-40px 23%);
  }
  @include breakpoint(bp(tv)) {
    @include margin(-41px 27%);
  }
  @include padding(2px 19px);
  z-index: 4;
}

.price {
  @include shadow(2);
  @include padding(0.3em 1em);
  @include border-top-radius(30px);
  @include border-bottom-radius(30px);
  @include position(relative, null null null null);
  font-weight: bold;
  color: $red-dark;
  background-color: #fff;
  z-index: 10;
}

.card {
  @include shadow(1);
  @include border-top-radius(4px);
  @include border-bottom-radius(4px);
  @include border-style(1px solid #ddd);
  @include padding(5px 20px 17px 20px);
  @include size(90%, 100%);
  @include margin(50px null 80px null);
  background-color: #fff;
  max-width: 647px;
  min-width: 307px;
}
.label-a{
  display: inline;
  padding: 1em 1em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: $red-dark;
  border: none;
}
.key {
  @include padding(6px 0);
  color: $red-dark;
  font-weight: bold;
}
.linea {
  @include padding(17px 0);
}
.value {
  @include padding(7px 0 7px 0);
  @extend .lg-eq;
  color: $red-dark;
  border-width: 1px;
  border-style: none none solid none;
}

