/// Function of layout
@function bp($name) {
    @if map-has-key($bp, $name) {
        @return map-get($bp, $name);
    }
    @warn "The key #{$name} is not in the map ’$bp’";
    @return null;
}


@function container($name) {
    @if map-has-key($container, $name) {
        @return map-get($container, $name);
    }
    @warn "The key #{$name} is not in the map ’$container’";
    @return null;
}

/// Function of typography
@function small-spacing($name) {
    @if map-has-key($small-spacing, $name) {
        @return map-get($small-spacing, $name);
    }
    @warn "The key #{$name} is not in the map ’$small-spacing’";
    @return null;
}

/// Button
@function event-imagen($name) {
    @if map-has-key($event-imagen, $name) {
        @return map-get($event-imagen, $name);
    }
    @warn "The key #{$name} is not in the map ’$event-imagen’";
    @return null;
}