/// Own configurations
/// Typography
$base-font-family: Arial, Times;
$heading-font-family: Arial, Times;

/// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

/// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing:(
    lg: $base-spacing / 3,
    md: $base-spacing / 5,
    sm: $base-spacing / 7,
);
$base-z-index: 0;

/// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$red-light: #B02A29;
$red-dark: #8E1617;

/// Font Colors
$base-font-color: $dark-gray;
$action-color: $red-light;

/// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

/// Background Colors
$viewport-background-color: #fff9db;

/// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

/// Animations
$base-duration: 150ms;
$base-timing: ease;

/// var 
//$p-1: 0.618033988749;
//$phi: $golden;


// Breakpoints for responsive
// phone => ph; table portrait  => pt; table landscape => ls; big destop o television => tv
$bp:(
    ph: max-width 599px,
    pt: 600px,
    ls: 900px,
    dt: 1200px,
    tv: 1800px    
);
$container:(
    ph:360px,
    pt:600px,
    ls:900px,
    dt:1200px,
    tv:1800px
);
$event-imagen:(
    ph: 337,
    pt: 587,
    ls: 887,
    dt: 1189,
    tv: 1789
);