/** 
* This seccion controller de background imagen
@media (height: 700px) and () { }
//  background-color: #E63C49;
 */
.navbar {
  background: linear-gradient(to right, #8E1617, #B02A29);
  padding-top: 3vh;
  min-height: 127px; 
  position: relative;
  z-index: -1;
}
.prueba{
  overflow: hidden;
}
@media (min-height: 160px) and (max-height: 650px) { 
  .str{
    margin-top: -37px;
  }
}
@media (min-height: 650px) and (max-height: 1000px) { 
  .str{
    margin-top: -38px;
  }
}
@media (min-height: 1000px) and (max-height: 5000px) { 
  .str{
    margin-top: -39px;
  }
}
.box{
  max-width: 677px;
  min-width: 311px;
}
.navbar:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-image: url(../img/jorge.jpg);
  background-size: cover;
}
.title{
  color: rgba(255,255,255,1);
  z-index: 10;
}
.card {
  flex: 0 1 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price {
  flex: 0 1 auto;
  padding: 0.3em 1em;
  font-weight: bold;
  color: #E63C49;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 99;
}
.invisible{
  visibility: hidden;
}
/**
 *  The style of views
 */
.container{
  margin-top: 13vmax;
  display: flex;
}
.stripe {
  margin-right:5px;
  margin-left: 5px;
  padding: 2px 20px;
  z-index: 10;
}
.size{
  margin: 20px 25px;
  padding: 7px 20px;
  max-width: 647px;
  min-width: 307px;
}
.label-a{
  display: inline;
  padding: 1em 1em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #E63C49;
  border: none;
}
.label-b{
  display: inline;
  padding: 1em 1em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #E6843C;
  border: none;
}
.label-form{
  display: inline;
  padding: 1em 1em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #E63C49;
  border-color: #D73A45;
}
input{
  border: none;
}
input[disabled] {
  background-color: #696969;
  cursor: not-allowed;
}
.block{
  padding-top: 13px; 
}
.list {
  list-style: none;
  padding: 0px;
}
li > a {
  text-decoration: none;
}
.form{
  margin: 7px 10px;
}
.value {
  flex: 1 1 auto;
  color: #696969;
  padding-bottom: 10px;
  padding-top: 3px;
  border-width: 1px;
  border-style: none none solid none;
}
.key {
  color: #E63C49;
  font-weight: bold;
}
/**
 * Forms styles
 */
.h1 {
  font-size:30px;
}
.h2 {
  font-size:24px;
}
.h3 {
  font-size:18px;
}
.h4 {
  font-size:14px;
}
.h5 {
  font-size:12px;
}
.h6 {
  font-size:12px;
}
/**
 * Style of boton float
 */
.contenedor{
  width:56px;
  height:56px;
  position:fixed;
  display:flex;
  justify-content: flex-end;
  right:0px;
  bottom:0px;
}
.btn-c{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/**
* Style of flexbox model
position:absolute;
*/ 

/* Style of List view */
/* zh = Chinese => Column that strat up to down */
/* line => nowrap; cube => wrap; root => reverse-wrap */
.zh-line {
  display: flex;
  flex-flow: column nowrap;
}
/* uk = United Kingdon => row that start left to right */
.uk-line {
  display: flex;
  flex-flow: row nowrap;
}
/* 
For the main axis
x-x-x => space-between
-x-x- => space-around
xxx-- => flex-star
--xxx => flex-end
-xxx- => center
For the cross axis
a => center
s => baseline
g => flex-end
h => flex-start 
j => stretch
//  align-items: center;
*/ 
.-jjj-{
  justify-content: center; 
  align-items: stretch;
}
.j-j-j{
  justify-content: space-between; 
  align-items: stretch;
}
.a-a-a{
  justify-content: space-between; 
  align-items: center;
}
.-aaa-{
  justify-content: center; 
  align-items: center;
}
.hhh--{
  justify-content: flex-start;
  align-items: flex-start;
}
.-a-a-{
  justify-content: space-around; 
  align-items: center;
}




